[Service]
ExecStart=
ExecStart=/usr/lib/gitlab-runner/gitlab-runner "run" "--working-directory" "{{ gitlab_runner_home_directory }}" "--config" "{{ gitlab_runner_config }}" "--service" "{{ gitlab_runner_service }}" "--syslog" "--user" "{{ gitlab_runner_user }}"
